.background {
    position: fixed;
    z-index: index 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    overflow: scroll;
    display: grid;
    justify-content: right;
    align-items: right;
  }
  
  
  
  .actionBar{
    /* float: right; */
    /* position: absolute; */
    position: relative;
    z-index: 20;
    top: 0%;
    right: 0%;
    width: 100%;
    margin-right: 0%;
    /* display: flex;
    flex-direction: column; */
    /* margin-right: 1rem; */
    background-color: #ffffff;
    box-sizing:content-box;
    padding: 10px;
    /* transition: width (7000ms) ease-in; */
    align-items: right;
    
  }
  
  /* .actionBar:hover{
    width:10%;
  } */
  
  .pendingList {
    border-radius: 20;
  }
  
  .PAdescription {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #50555C;
  }
  
  /* .pendingList:hover{
      transform: scale(1.05);
  } */
  .description {
    color: #000609;
    font-weight: 900;
  }
  
  .names {
    color: #00578E;
    font-weight: 600;
  }
  
  .names:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
  
  .clsBar {
    
    /* z-index: -1; */
    /* float:right; */
    /* width: 50%; */
    /* transform: scale(0.1); */
    
    /* transform: scale(0.9); */
    /* transform: translateX(100%); */
    /* transition: transform (700ms);  */
    /* transition: all (70000ms) ease-in; */
    /* transition: width (7s) ease-in; */
   
    /* animation-name: clsBar;
    animation-duration: 10s;
    animation:infinite;
    animation-timing-function: ease-in-out; */
  
    
    display: none;
  }
  .closing{
    /* display:flex;
    z-index: 20;
    top: 0%;
    right: 0%;
    width: 100%;
    margin-right: 0%;
    background-color: #ffffff;
    box-sizing:content-box;
    padding: 10px;
    align-items: right; */
    /* animation : fade-out 7s; */
    animation :fade-out 12s ;
  
  }
  
  @keyframes clsBar {
    0% { transform: translatex(0%); }
    50%  { transform: translatex(100%); }
    100%   { display: none;}  
  }
  
  @keyframes fade-out {
    from{
      opacity:1;
    }
    to{
      transform: translatex(100%);
      opacity:0;
      display: none;
    }
    
  }
  
  .abHeader {
    z-index: 20;
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }
  
  
  /* ==================================================================== */
  .item {
    margin-bottom: 1em;
  }
  
  /* checkbox-rect */
  .checkboxReact1 input[type="checkbox"] {
    display: none;
  }
  
  .checkboxReact1 input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    /* -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; */
  }
  
  .checkboxReact1 input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
  }
  
  .checkboxReact1 input[type="checkbox"]:hover+label:before {
    background: #00FF00;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  
  .checkboxReact1 input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
  }
  
  .checkboxReact1 input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #00FF00;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  
  .checkboxReact1 input[type="checkbox"]:checked+label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #00FF00;
    box-shadow: 0 0 0 1px #000;
  }
  
  
  /* checkbox-rect */
  .checkboxReact2 input[type="checkbox"] {
    display: none;
  }
  
  .checkboxReact2 input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    /* -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none; */
  }
  
  .checkboxReact2 input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
  }
  
  .checkboxReact2 input[type="checkbox"]:hover+label:before {
    background: #ff0000;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  
  .checkboxReact2 input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
  }
  
  .checkboxReact2 input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #ff0000;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  
  .checkboxReact2 input[type="checkbox"]:checked+label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #ff0000;
    box-shadow: 0 0 0 1px #000;
  }