.headerBar {
	background-color: #ffffff;
	height: 49px;
	width: 100%;
	position: relative;
	z-index: 9;
	border-bottom: 1px solid #e2e2e2;
}

.logoHolder {
	float: left;
	height: 100%;
	display: flex;
	align-content: center;
	padding-left: 10px;
}

.headerActionsSection {
	float: right;
	height: 100%;
}

.actionItem {
	height: 100%;
	float: left;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding: 0 10px 0 10px;
	border-left: 1px solid #e4e4e4;
}

.namePlate {
	margin-top: 3px;
}
