.UserActivityCardStyle {
    display: flex;
    flex-wrap: wrap;
    /* gap: 5%; */
    justify-content: space-between;
    padding-bottom: 23px;
    padding-left: 15px;
}


.totalActionsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 250px;
    background: #fff;
    margin: 1rem;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    height: 256px;
    width: 457px;
    max-height: 300px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.totalActionsCard:hover {
    /* box-shadow: 0 4px 1rem -4px #000; */
    transform: scale(1.05);
}

.ContentStyle {
    color: #50555C;
}

.ContentTimeStyle {
    color: #9398A3;
}